//MicrosoftVisualC++generatedresourcescript.
//
#pragmacode_page(65001)
#include"resource.h"

#defineAPSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
//GeneratedfromtheTEXTINCLUDE2resource.
//
#include"winres.h"

/////////////////////////////////////////////////////////////////////////////
#undefAPSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//English(UnitedStates)resources

#if!defined(AFX_RESOURCE_DLL)||defined(AFX_TARG_ENU)
LANGUAGELANG_ENGLISH,SUBLANG_ENGLISH_US

#ifdefAPSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
//TEXTINCLUDE
//

1TEXTINCLUDE
BEGIN
"resource.h\0"
END

2TEXTINCLUDE
BEGIN
"#include""winres.h""\r\n"
"\0"
END

3TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif//APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
//Icon
//

//IconwithlowestIDvalueplacedfirsttoensureapplicationicon
//remainsconsistentonallsystems.
IDI_APP_ICONICON"resources\\app_icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
//Version
//

#ifdefined(FLUTTER_VERSION_MAJOR)&&defined(FLUTTER_VERSION_MINOR)&&defined(FLUTTER_VERSION_PATCH)&&defined(FLUTTER_VERSION_BUILD)
#defineVERSION_AS_NUMBERFLUTTER_VERSION_MAJOR,FLUTTER_VERSION_MINOR,FLUTTER_VERSION_PATCH,FLUTTER_VERSION_BUILD
#else
#defineVERSION_AS_NUMBER1,0,0,0
#endif

#ifdefined(FLUTTER_VERSION)
#defineVERSION_AS_STRINGFLUTTER_VERSION
#else
#defineVERSION_AS_STRING"1.0.0"
#endif

VS_VERSION_INFOVERSIONINFO
FILEVERSIONVERSION_AS_NUMBER
PRODUCTVERSIONVERSION_AS_NUMBER
FILEFLAGSMASKVS_FFI_FILEFLAGSMASK
#ifdef_DEBUG
FILEFLAGSVS_FF_DEBUG
#else
FILEFLAGS0x0L
#endif
FILEOSVOS__WINDOWS32
FILETYPEVFT_APP
FILESUBTYPE0x0L
BEGIN
BLOCK"StringFileInfo"
BEGIN
BLOCK"040904e4"
BEGIN
VALUE"CompanyName","com.example""\0"
VALUE"FileDescription","flutterui""\0"
VALUE"FileVersion",VERSION_AS_STRING"\0"
VALUE"InternalName","flutterui""\0"
VALUE"LegalCopyright","Copyright(C)2023com.example.Allrightsreserved.""\0"
VALUE"OriginalFilename","flutterui.exe""\0"
VALUE"ProductName","flutterui""\0"
VALUE"ProductVersion",VERSION_AS_STRING"\0"
END
END
BLOCK"VarFileInfo"
BEGIN
VALUE"Translation",0x409,1252
END
END

#endif//English(UnitedStates)resources
/////////////////////////////////////////////////////////////////////////////



#ifndefAPSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
//GeneratedfromtheTEXTINCLUDE3resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif//notAPSTUDIO_INVOKED
